<div id='admin-container' class='pb-16'>

  <h2 class='text-3xl text-gray-800'>Admin panel</h2>

  <!-- Users management -->
  <div class='my-10 border border-gray-700 rounded-xl p-8'>
    <h2 class='text-2xl mb-6'>Users</h2>
    <ul class='my-4 leading-10 pl-8 w-1/2'>
      {{#each users}}
        <li class='flex flex-row justify-between h-12'>
          <span>
            <span> id: {{this.id}} </span>
            <span class='ml-3'> {{this.email}} </span>
          </span>
          <span>
            <a href='/admin/edit-user/{{this.id}}'>
              <button
                class='bg-blue-400 rounded-lg text-sm px-2 min-w-14 h-8 text-white'
              >Edit</button>
            </a>
            <a
              href='/admin/delete-user/{{this.id}}'
              onclick="return confirm('Delete this record?');"
            >
              <button
                class='bg-red-400 rounded-lg text-sm px-2 min-w-14 h-8 ml-3 text-white'
              >Delete</button>
            </a>
          </span>
        </li>
      {{/each}}
    </ul>
  </div>

  <!-- News and announcements management -->
  <div class='my-10 border border-gray-700 rounded-xl p-8'>
    <h2 class='text-2xl mb-6'>News and announcements</h2>
    <ul class='my-4 leading-10 pl-8 w-1/2'>
      {{#each news}}
        <li class='flex flex-row justify-between h-12'>
          <span>
            <span> id: {{this.id}} </span>
            <span class='ml-3'> {{this.title}} </span>
          </span>
          <span>
            <a href='/admin/edit-news/{{this.id}}'>
              <button
                class='bg-blue-400 rounded-lg text-sm px-2 min-w-14 h-8 text-white'
              >Edit</button>
            </a>
            <button
              class='bg-red-400 rounded-lg text-sm px-2 min-w-14 h-8 ml-3 text-white'
            >Delete</button>
          </span>
        </li>
      {{/each}}
    </ul>
  </div>

  <!-- Messages management -->
  <div class='my-10 border border-gray-700 rounded-xl p-8'>
    <h2 class='text-2xl mb-6'>Messages</h2>
    <ul class='my-4 leading-10 pl-8 w-1/2'>
      {{#each messages}}
        <li class='flex flex-row justify-between h-12'>
          <span>
            <span> id: {{this.id}} </span>
            <span class='ml-3'> {{this.title}} </span>
          </span>
          <span>
            <a href='/admin/edit-message/{{this.id}}'>
              <button
                class='bg-blue-400 rounded-lg text-sm px-2 min-w-14 h-8 text-white'
              >Edit</button>
            </a>
            <button
              class='bg-red-400 rounded-lg text-sm px-2 min-w-14 h-8 ml-3 text-white'
            >Delete</button>
          </span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>